<h1>Todos</h1>

    <div class="form-group col-md-12">
        <input type="text" 
        class="form-control col-md-10" 
        id="exampleInputEmail1" 
        placeholder="What needs to be done"
        [(ngModel)]="newTodo"
        (keyup.enter)="addTodo()">
    </div>


<ul>
    <li 
    class="todo-list"
    *ngFor="let todo of todos; let i = index"
    (mouseenter)="hover('hoverActive', i)"
    (mouseleave)="hover('hoverInactive', i)">
        {{ todo }}
        <span class="pull-right delete" *ngIf="show == i">x</span>
    </li>
    
</ul>